body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}


#formSettings {

    width: 500px;
    margin-left: 500px;
    text-align: center;
}

button {

    background-color: greenyellow;
    border-radius: 5px;
    border-color: greenyellow;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}

button:hover {
    opacity: 0.7;
}


.isHidden {

    display: none !important;

}

.container {

    width: 1000px;
    height: 400px;
}


.card {

    border: 2px solid black;
    float: left;
    text-align: center;
    font-size: xx-large;

}

.hiddenCard {

    font-size: 0px;
}

.countdown {

    border: 2px dotted black;
    width: 200px;
    height: 100px;
    margin-left: 500px;
}